In [1]:
%load_ext autoreload
%autoreload 2

In [26]:
from BitcoinPrediction.data import get_data, preprocessing_data
from BitcoinPrediction.train_test_split import input_data
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [27]:
data = get_data()
data.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
4727772,1609372560,28801.47,28829.42,28785.64,28829.42,0.965221,27804.572129,28806.429798
4727773,1609372620,28829.42,28863.90,28829.42,28857.06,2.368831,68332.350629,28846.441863
4727774,1609372680,28850.49,28900.52,28850.49,28882.82,2.466590,71232.784464,28879.056266
4727775,1609372740,28910.54,28911.52,28867.60,28881.30,7.332773,211870.912660,28893.695831
4727776,1609372800,28893.21,28928.49,28893.21,28928.49,5.757679,166449.709320,28909.166061

In [28]:
X_train, X_test, y_train, y_test = input_data(data, 1000, 5, 700, h=2, w=0)

/home/anneconstance/code/nhuberde/batch-552-BITCOIN_PREDICTIONS/BitcoinPrediction/data.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pp['Timestamp'] = pd.to_datetime(data_pp['Timestamp'], unit='s', origin='unix')
/home/anneconstance/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/series.py:963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
/home/anneconstance/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/series.py:963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [22]:
# data_shifted.tail()

In [29]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((700, 5), (294, 5), (700,), (294,))

In [30]:
X_train

                          t-0       t-1       t-2       t-3       t-4
Timestamp
2020-12-30 07:18:00  28373.01  28380.52  28329.50  28411.70  28441.52
2020-12-30 07:19:00  28362.40  28373.01  28380.52  28329.50  28411.70
2020-12-30 07:20:00  28364.30  28362.40  28373.01  28380.52  28329.50
2020-12-30 07:21:00  28361.15  28364.30  28362.40  28373.01  28380.52
2020-12-30 07:22:00  28352.65  28361.15  28364.30  28362.40  28373.01
...                       ...       ...       ...       ...       ...
2020-12-30 18:53:00  28440.63  28494.35  28508.52  28512.01  28484.08
2020-12-30 18:54:00  28463.87  28440.63  28494.35  28508.52  28512.01
2020-12-30 18:55:00  28518.47  28463.87  28440.63  28494.35  28508.52
2020-12-30 18:56:00  28511.13  28518.47  28463.87  28440.63  28494.35
2020-12-30 18:57:00  28509.74  28511.13  28518.47  28463.87  28440.63

[700 rows x 5 columns]

In [31]:
 X_test

                          t-0       t-1       t-2       t-3       t-4
Timestamp
2020-12-30 18:59:00  28509.71  28496.34  28509.74  28511.13  28518.47
2020-12-30 19:00:00  28523.16  28509.71  28496.34  28509.74  28511.13
2020-12-30 19:01:00  28564.78  28523.16  28509.71  28496.34  28509.74
2020-12-30 19:02:00  28695.74  28564.78  28523.16  28509.71  28496.34
2020-12-30 19:03:00  28800.00  28695.74  28564.78  28523.16  28509.71
...                       ...       ...       ...       ...       ...
2020-12-30 23:48:00  28871.54  28883.69  28880.00  28838.89  28860.66
2020-12-30 23:49:00  28844.56  28871.54  28883.69  28880.00  28838.89
2020-12-30 23:50:00  28816.76  28844.56  28871.54  28883.69  28880.00
2020-12-30 23:51:00  28836.97  28816.76  28844.56  28871.54  28883.69
2020-12-30 23:52:00  28826.49  28836.97  28816.76  28844.56  28871.54

[294 rows x 5 columns]

In [32]:
y_train

Timestamp
2020-12-30 07:18:00    0.0
2020-12-30 07:19:00    0.0
2020-12-30 07:20:00    0.0
2020-12-30 07:21:00    0.0
2020-12-30 07:22:00    1.0
                      ...
2020-12-30 18:53:00    1.0
2020-12-30 18:54:00    1.0
2020-12-30 18:55:00    0.0
2020-12-30 18:56:00    0.0
2020-12-30 18:57:00    0.0
Name: t+2, Length: 700, dtype: float64

In [33]:
y_test

Timestamp
2020-12-30 18:59:00    1.0
2020-12-30 19:00:00    1.0
2020-12-30 19:01:00    1.0
2020-12-30 19:02:00    1.0
2020-12-30 19:03:00    0.0
                      ...
2020-12-30 23:48:00    0.0
2020-12-30 23:49:00    0.0
2020-12-30 23:50:00    1.0
2020-12-30 23:51:00    0.0
2020-12-30 23:52:00    0.0
Name: t+2, Length: 294, dtype: float64