In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from BitcoinPrediction.data import get_data, clean_data, open_diff_col, y_encoding
from BitcoinPrediction.train_test_split import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [3]:
data = get_data()
data = clean_data(data)
data.shape

(1929600, 2)

In [4]:
data.head()

                  Timestamp     Open
2798176 2017-05-01 00:00:00  1348.88
2798177 2017-05-01 00:01:00  1352.41
2798178 2017-05-01 00:02:00  1349.49
2798179 2017-05-01 00:03:00  1350.11
2798180 2017-05-01 00:04:00  1351.25

In [5]:
X = open_diff_col(data)
X.head()

                  Timestamp     Open  Open_diff
2798177 2017-05-01 00:01:00  1352.41       3.53
2798178 2017-05-01 00:02:00  1349.49      -2.92
2798179 2017-05-01 00:03:00  1350.11       0.62
2798180 2017-05-01 00:04:00  1351.25       1.14
2798181 2017-05-01 00:05:00  1351.24      -0.01

In [ ]:
Y = y_encoding(data)
Y.head()