In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, accuracy_score
from sklearn.preprocessing import LabelBinarizer

In [3]:
data = pd.read_csv('../../raw_data/bitstampUSD.csv')

In [4]:
data['Timestamp'] = pd.to_datetime(data['Timestamp'], unit='s', origin='unix')

In [5]:
# data_sample = data[2701596:]
data_sample = data[2798175:]
data_sample.shape

(1929602, 8)

## NaN Padding

In [6]:
data_sample.shape, data_sample.isnull().sum()

((1929602, 8),
 Timestamp                0
 Open                 55145
 High                 55145
 Low                  55145
 Close                55145
 Volume_(BTC)         55145
 Volume_(Currency)    55145
 Weighted_Price       55145
 dtype: int64)

In [7]:
data_sample[500:550]

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
2798675,2017-05-01 08:19:00,1359.72,1361.77,1359.72,1360.70,15.509000,21093.617542,1360.088822
2798676,2017-05-01 08:20:00,1360.70,1360.71,1356.09,1356.09,1.009000,1372.914710,1360.668692
2798677,2017-05-01 08:21:00,1360.71,1360.71,1360.71,1360.71,0.134475,182.981219,1360.710000
2798678,2017-05-01 08:22:00,1360.70,1360.70,1360.70,1360.70,0.073538,100.063714,1360.700000
2798679,2017-05-01 08:23:00,1356.16,1360.71,1356.16,1360.68,4.384365,5962.744701,1360.001884
2798680,2017-05-01 08:24:00,1360.66,1360.66,1360.61,1360.61,0.060187,81.892016,1360.621572
2798681,2017-05-01 08:25:00,1356.17,1356.17,1356.17,1356.17,0.258207,350.172085,1356.170000
2798682,2017-05-01 08:26:00,1356.17,1356.17,1356.17,1356.17,0.120754,163.762369,1356.170000
2798683,2017-05-01 08:27:00,1356.03,1356.16,1355.50,1356.16,1.725500,2339.122108,1355.619883
2798684,2017-05-01 08:28:00,1355.50,1356.16,1355.50,1356.16,0.505324,685.234779,1356.029391
2798685,2017-05-01 08:29:00,1356.16,1360.71,1356.16,1360.35,4.147948,5642.311258,1360.265826
2798686,2017-05-01 08:30:00,1360.35,1361.87,1359.92,1361.87,2.155806,2933.880829,1360.920742
2798687,2017-05-01 08:31:00,1356.79,1361.78,1355.76,1361.78,1.432959,1944.281297,1356.829762
2798688,2017-05-01 08:32:00,1356.79,1356.79,1356.79,1356.79,0.141194,191.571014,1356.790000
2798689,2017-05-01 08:33:00,1356.79,1356.79,1355.80,1355.80,0.554608,752.039118,1355.983520
2798690,2017-05-01 08:34:00,1355.80,1356.79,1355.50,1355.50,1.028207,1394.027509,1355.785016
2798691,2017-05-01 08:35:00,1356.79,1361.75,1355.68,1355.68,2.347266,3193.232364,1360.404873
2798692,2017-05-01 08:36:00,1355.69,1355.70,1355.02,1355.02,4.145534,5618.674946,1355.356029
2798693,2017-05-01 08:37:00,1355.66,1355.66,1355.66,1355.66,0.323148,438.078248,1355.660000
2798694,2017-05-01 08:38:00,1355.66,1355.66,1355.66,1355.66,0.398852,540.708272,1355.660000
2798695,2017-05-01 08:39:00,1359.92,1359.92,1359.92,1359.92,0.007060,9.600790,1359.920000
2798696,2017-05-01 08:40:00,1359.71,1359.71,1359.71,1359.71,0.221795,301.577437,1359.710000
2798697,2017-05-01 08:41:00,1360.22,1360.69,1360.22,1360.69,0.261400,355.650341,1360.559836
2798698,2017-05-01 08:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798699,2017-05-01 08:43:00,1356.04,1360.79,1355.74,1360.79,6.443443,8750.228219,1358.005038
2798700,2017-05-01 08:44:00,1359.70,1361.60,1355.78,1355.78,2.787330,3786.067893,1358.313317
2798701,2017-05-01 08:45:00,1355.78,1360.71,1355.78,1360.69,4.300413,5840.566614,1358.140817
2798702,2017-05-01 08:46:00,1360.69,1360.69,1355.72,1355.72,2.778008,3767.203797,1356.080863
2798703,2017-05-01 08:47:00,1355.72,1355.72,1355.71,1355.71,3.191613,4326.932862,1355.719988
2798704,2017-05-01 08:48:00,1358.99,1358.99,1358.99,1358.99,0.149232,202.804266,1358.990000
2798705,2017-05-01 08:49:00,1355.71,1358.98,1355.70,1358.98,0.172612,234.444040,1358.210805
2798706,2017-05-01 08:50:00,1358.98,1358.98,1358.98,1358.98,0.088027,119.626620,1358.980000
2798707,2017-05-01 08:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798708,2017-05-01 08:52:00,1358.98,1359.70,1358.98,1359.70,2.074182,2819.014556,1359.097004
2798709,2017-05-01 08:53:00,1359.70,1359.70,1359.44,1359.70,0.375488,510.534528,1359.657671
2798710,2017-05-01 08:54:00,1359.45,1359.45,1355.80,1355.80,0.062745,85.145757,1357.016515
2798711,2017-05-01 08:55:00,1355.80,1359.59,1355.80,1355.80,2.249708,3057.792584,1359.195446
2798712,2017-05-01 08:56:00,1356.59,1356.59,1356.59,1356.59,0.296948,402.836932,1356.590000
2798713,2017-05-01 08:57:00,1356.60,1359.60,1356.60,1359.60,0.185823,252.110442,1356.726334
2798714,2017-05-01 08:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798715,2017-05-01 08:59:00,1359.60,1359.70,1359.60,1359.70,0.300000,407.890783,1359.635942
2798716,2017-05-01 09:00:00,1359.70,1359.70,1357.59,1357.59,0.137612,187.038970,1359.178678
2798717,2017-05-01 09:01:00,1358.58,1361.31,1358.58,1361.28,1.078015,1464.701307,1358.702259
2798718,2017-05-01 09:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798719,2017-05-01 09:03:00,1361.18,1361.99,1361.13,1361.66,22.543005,30697.508543,1361.730962
2798720,2017-05-01 09:04:00,1361.66,1361.94,1361.66,1361.94,0.142203,193.635495,1361.679690
2798721,2017-05-01 09:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798722,2017-05-01 09:06:00,1359.70,1361.94,1359.70,1361.94,2.364237,3215.468572,1360.045097
2798723,2017-05-01 09:07:00,1358.80,1362.00,1358.80,1362.00,20.382848,27760.703844,1361.963947
2798724,2017-05-01 09:08:00,1361.99,1362.00,1361.99,1362.00,10.532331,14344.990449,1361.995784

In [8]:
# data_sample['diff_open_close'] = data_sample['Open'] - data_sample['Close']

In [9]:
data_sample.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
2798175,2017-04-30 23:59:00,1350.21,1350.21,1350.21,1350.21,0.100502,135.699048,1350.210000
2798176,2017-05-01 00:00:00,1348.88,1354.80,1348.88,1354.80,3.087374,4173.722673,1351.868203
2798177,2017-05-01 00:01:00,1352.41,1352.41,1352.41,1352.41,0.261954,354.269412,1352.410000
2798178,2017-05-01 00:02:00,1349.49,1354.86,1349.49,1354.86,0.096311,130.384815,1353.783259
2798179,2017-05-01 00:03:00,1350.11,1351.25,1350.11,1351.25,0.260284,351.553973,1350.655803

In [10]:
data_sample.isnull().sum(), data_sample.shape

(Timestamp                0
 Open                 55145
 High                 55145
 Low                  55145
 Close                55145
 Volume_(BTC)         55145
 Volume_(Currency)    55145
 Weighted_Price       55145
 dtype: int64,
 (1929602, 8))

In [11]:
# plt.figure(figsize=(22,5))
# sns.lineplot(data=data_sample, x='Timestamp', y='diff_open_close')

In [12]:
# data_sample['diff_high_low'] = data_sample['High'] - data_sample['Low']

In [13]:
# plt.figure(figsize=(22,5))
# sns.lineplot(data=data_sample, x='Timestamp', y='diff_high_low')

In [14]:
# data_size = data_sample[:200]
# data_size.isnull().sum()

In [15]:
data_test = data_sample[["Timestamp", "Close"]]
# data_test['new_close'] = data_size['Close'].values
data_test['Previous'] = data_test['Close'].shift(1)
data_test.insert(loc=2, column='New', value=['' for i in range(data_test.shape[0])])
data_test[550:600]

<ipython-input-15-5af54a9b6d90>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test['Previous'] = data_test['Close'].shift(1)

                  Timestamp    Close New  Previous
2798725 2017-05-01 09:09:00  1362.00       1362.00
2798726 2017-05-01 09:10:00  1362.00       1362.00
2798727 2017-05-01 09:11:00  1362.00       1362.00
2798728 2017-05-01 09:12:00  1362.00       1362.00
2798729 2017-05-01 09:13:00  1361.99       1362.00
2798730 2017-05-01 09:14:00  1361.99       1361.99
2798731 2017-05-01 09:15:00      NaN       1361.99
2798732 2017-05-01 09:16:00      NaN           NaN
2798733 2017-05-01 09:17:00  1361.98           NaN
2798734 2017-05-01 09:18:00  1361.98       1361.98
2798735 2017-05-01 09:19:00  1361.71       1361.98
2798736 2017-05-01 09:20:00  1361.71       1361.71
2798737 2017-05-01 09:21:00      NaN       1361.71
2798738 2017-05-01 09:22:00  1361.71           NaN
2798739 2017-05-01 09:23:00  1361.70       1361.71
2798740 2017-05-01 09:24:00  1361.70       1361.70
2798741 2017-05-01 09:25:00  1360.79       1361.70
2798742 2017-05-01 09:26:00  1360.68       1360.79
2798743 2017-05-01 09:27:00  1356.85       1360.68
2798744 2017-05-01 09:28:00  1360.88       1356.85
2798745 2017-05-01 09:29:00  1359.70       1360.88
2798746 2017-05-01 09:30:00  1358.86       1359.70
2798747 2017-05-01 09:31:00  1358.99       1358.86
2798748 2017-05-01 09:32:00  1358.90       1358.99
2798749 2017-05-01 09:33:00  1358.79       1358.90
2798750 2017-05-01 09:34:00  1357.92       1358.79
2798751 2017-05-01 09:35:00  1358.74       1357.92
2798752 2017-05-01 09:36:00  1358.80       1358.74
2798753 2017-05-01 09:37:00  1355.61       1358.80
2798754 2017-05-01 09:38:00  1355.01       1355.61
2798755 2017-05-01 09:39:00  1355.01       1355.01
2798756 2017-05-01 09:40:00  1346.35       1355.01
2798757 2017-05-01 09:41:00  1353.96       1346.35
2798758 2017-05-01 09:42:00  1351.00       1353.96
2798759 2017-05-01 09:43:00  1354.99       1351.00
2798760 2017-05-01 09:44:00  1352.12       1354.99
2798761 2017-05-01 09:45:00  1352.11       1352.12
2798762 2017-05-01 09:46:00  1350.01       1352.11
2798763 2017-05-01 09:47:00  1353.63       1350.01
2798764 2017-05-01 09:48:00  1353.63       1353.63
2798765 2017-05-01 09:49:00  1348.94       1353.63
2798766 2017-05-01 09:50:00  1353.63       1348.94
2798767 2017-05-01 09:51:00  1352.65       1353.63
2798768 2017-05-01 09:52:00  1353.11       1352.65
2798769 2017-05-01 09:53:00  1352.65       1353.11
2798770 2017-05-01 09:54:00  1352.65       1352.65
2798771 2017-05-01 09:55:00  1353.96       1352.65
2798772 2017-05-01 09:56:00  1354.92       1353.96
2798773 2017-05-01 09:57:00  1352.88       1354.92
2798774 2017-05-01 09:58:00  1352.34       1352.88

In [16]:
def fill_blanks(row):
    if (isinstance(row['Close'], float)):
        row['New'] = row['Close']
    elif (isinstance(row['Close'], str)):
        row['New'] = row['Previous']
    else:
        row['New'] = ''
    return row

In [17]:
data_test = data_test.fillna('')
data_test.head()

                  Timestamp    Close New Previous
2798175 2017-04-30 23:59:00  1350.21
2798176 2017-05-01 00:00:00   1354.8      1350.21
2798177 2017-05-01 00:01:00  1352.41       1354.8
2798178 2017-05-01 00:02:00  1354.86      1352.41
2798179 2017-05-01 00:03:00  1351.25      1354.86

In [18]:
clean_data = data_test.apply(fill_blanks, axis=1)

In [19]:
clean_data[510:560]

                  Timestamp    Close      New Previous
2798685 2017-05-01 08:29:00  1360.35  1360.35  1356.16
2798686 2017-05-01 08:30:00  1361.87  1361.87  1360.35
2798687 2017-05-01 08:31:00  1361.78  1361.78  1361.87
2798688 2017-05-01 08:32:00  1356.79  1356.79  1361.78
2798689 2017-05-01 08:33:00   1355.8   1355.8  1356.79
2798690 2017-05-01 08:34:00   1355.5   1355.5   1355.8
2798691 2017-05-01 08:35:00  1355.68  1355.68   1355.5
2798692 2017-05-01 08:36:00  1355.02  1355.02  1355.68
2798693 2017-05-01 08:37:00  1355.66  1355.66  1355.02
2798694 2017-05-01 08:38:00  1355.66  1355.66  1355.66
2798695 2017-05-01 08:39:00  1359.92  1359.92  1355.66
2798696 2017-05-01 08:40:00  1359.71  1359.71  1359.92
2798697 2017-05-01 08:41:00  1360.69  1360.69  1359.71
2798698 2017-05-01 08:42:00           1360.69  1360.69
2798699 2017-05-01 08:43:00  1360.79  1360.79
2798700 2017-05-01 08:44:00  1355.78  1355.78  1360.79
2798701 2017-05-01 08:45:00  1360.69  1360.69  1355.78
2798702 2017-05-01 08:46:00  1355.72  1355.72  1360.69
2798703 2017-05-01 08:47:00  1355.71  1355.71  1355.72
2798704 2017-05-01 08:48:00  1358.99  1358.99  1355.71
2798705 2017-05-01 08:49:00  1358.98  1358.98  1358.99
2798706 2017-05-01 08:50:00  1358.98  1358.98  1358.98
2798707 2017-05-01 08:51:00           1358.98  1358.98
2798708 2017-05-01 08:52:00   1359.7   1359.7
2798709 2017-05-01 08:53:00   1359.7   1359.7   1359.7
2798710 2017-05-01 08:54:00   1355.8   1355.8   1359.7
2798711 2017-05-01 08:55:00   1355.8   1355.8   1355.8
2798712 2017-05-01 08:56:00  1356.59  1356.59   1355.8
2798713 2017-05-01 08:57:00   1359.6   1359.6  1356.59
2798714 2017-05-01 08:58:00            1359.6   1359.6
2798715 2017-05-01 08:59:00   1359.7   1359.7
2798716 2017-05-01 09:00:00  1357.59  1357.59   1359.7
2798717 2017-05-01 09:01:00  1361.28  1361.28  1357.59
2798718 2017-05-01 09:02:00           1361.28  1361.28
2798719 2017-05-01 09:03:00  1361.66  1361.66
2798720 2017-05-01 09:04:00  1361.94  1361.94  1361.66
2798721 2017-05-01 09:05:00           1361.94  1361.94
2798722 2017-05-01 09:06:00  1361.94  1361.94
2798723 2017-05-01 09:07:00   1362.0   1362.0  1361.94
2798724 2017-05-01 09:08:00   1362.0   1362.0   1362.0
2798725 2017-05-01 09:09:00   1362.0   1362.0   1362.0
2798726 2017-05-01 09:10:00   1362.0   1362.0   1362.0
2798727 2017-05-01 09:11:00   1362.0   1362.0   1362.0
2798728 2017-05-01 09:12:00   1362.0   1362.0   1362.0
2798729 2017-05-01 09:13:00  1361.99  1361.99   1362.0
2798730 2017-05-01 09:14:00  1361.99  1361.99  1361.99
2798731 2017-05-01 09:15:00           1361.99  1361.99
2798732 2017-05-01 09:16:00
2798733 2017-05-01 09:17:00  1361.98  1361.98
2798734 2017-05-01 09:18:00  1361.98  1361.98  1361.98

In [20]:
(clean_data['New'].values == '').sum()

10181

## Dumb Baseline Model

In [21]:
baseline_sample = data_sample
baseline_sample.shape

(1929602, 8)

In [27]:
baseline = baseline_sample[['Close']]
baseline['Previous'] = baseline['Close'].shift(1)
baseline['outcome'] = baseline['Close']- baseline['Previous']
# baseline.insert(loc=3, column='Coded', value=['' for i in range(baseline.shape[0])])
baseline = baseline.fillna(method='ffill')

<ipython-input-27-e7d217837e60>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baseline['Previous'] = baseline['Close'].shift(1)
<ipython-input-27-e7d217837e60>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baseline['outcome'] = baseline['Close']- baseline['Previous']

In [28]:
f = lambda x: 0 if x <= 0 else 1
baseline['outcome'] = baseline['outcome'].map(f)

In [29]:
base = baseline[['outcome']]
base.head()

         outcome
2798175        1
2798176        1
2798177        0
2798178        1
2798179        0

In [30]:
train_size = 0.6
index = round(train_size*base.shape[0])
df_train = base.iloc[:index]
df_test = base.iloc[index+1:]

In [31]:
y_pred = df_test.shift(1).dropna()
y_true = df_test[1:]
print(f"Accuracy:{accuracy_score(y_true, y_pred)}")

Accuracy:0.45584765734822935